<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Your Web App</title>
</head>
<body>

    <header>
        <h1>DEXster</h1>
    </header>

    <main>
        <section>
            <h2>Welcome to DEXster!</h2>
            <p>This is a web app that will track cryptoprices and alerts with a watchlist feature and authentication</p>
            <button>Click me</button>
        </section>
    </main>

    <footer>
        <p>&copy; DEXster by @irf44n</p>
    </footer>

</body>
</html>